.overlay {
  position: absolute;
}

.hide {
  display: none;
}

#health {
  margin: 5px;
  height: 10px;
  width: 50%;
  background: rgba(0, 0, 0, 0.35);
  padding: 5px;
  border-radius: 8px;
}

#health-bar {
  border-radius: 4px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

/*#snipper {
  width: 40px;
  height: auto;
  left: 50%;
  top: 35%;
}*/